@model SE_Project.Models.ForgotPasswordViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Forgot Password</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="text-center my-5">
                        <img src="~/Photos/Mazak_logo.png" alt="logo" width="400" />
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            @if (TempData.ContainsKey("ErrorMessage"))
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }
                            <h1 class="fs-4 card-title fw-bold mb-4">Forgot Password</h1>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label mb-2 text-muted required-field" })
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter email address" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary">Send password reset link</button>
                            }
                        </div>
                        <div class="card-footer py-3 border-0">
                            <p class="text-center">
                                Remember your password?
                                @Html.ActionLink("Login", "Login", "Account", null, new { @style = "color: text-dark;" })
                            </p>
                        </div>
                    </div>
                    <div class="text-center mt-5 text-muted">
                        Copyright &copy; 2023 &mdash; Yamazaki Mazak Singapore Pte Ltd
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/login.js"></script>
</body>
</html>
